{% extends 'base.html' %}
{% import "bootstrap/form.html" as wtf %}
{% block content %}
    <section class="bg-light">

        <!-- Main title text -->
        <div class="container">
            <div class="row mt-5 mb-3">
                <div class="col-md-12">
                    <div class="float-left">
                        <h1 class="mb-0">{{event.eventName}}</h1>    
                    </div>
                </div>
            
                <div class="col-12 mt-1">
                    <div class="d-flex justify-content-center d-md-none col-12">
                        <img src={{event.eventImage}} alt="Event image" class="d-block d-sm-none rounded mb-4" width="270px">
                        <img src={{event.eventImage}} alt="Event image" class="d-none d-sm-block d-md-none rounded mb-4" width="430px" style="background-repeat: no-repeat;">
                    </div>
                    <div class="card shadow mb-4 d-block d-md-none p-1">
                        <div class="text-center"> 
                            <h3 class="mb-2 text-info my-4">{{event.eventName}}</h3>
                            <h4 class="mb-2 text-muted mb-4">{{event.eventLocation}}</h4>
                            <p class="mb-2 text-muted mb-4">{{event.eventstartTime}}, {{event.startDate}}  <!--7:00PM, Saturday 17th September, 2022-->
                            </p>
                            <p class="card-text mt-4 px-4 pb-4 border-bottom">
                            {{event.Description}}
                            </p>
                            <div class="row">
                                <div class="d-inline col-6 text-center">
                                    <p class="pl-4">Ticket Price: <strong>${{event.ticketPrice}}</strong></h4>
                                    <p class="pl-4">Tickets Sold: 1,200 / 2,000</h4>
                                </div>
                                <div class="d-inline col-6">
                                    <button class="btn btn-outline-info rounded bg-info text-white px-4 py-2 my-5 my-sm-4 mr-2"><strong>Book Ticket</strong></button>
                                </div>
                            </div> 
                        </div>
                    </div>

                    

                    
                        
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}