{% extends 'base.html' %}
{% import "bootstrap/form.html" as wtf %}
{% block content %}
    <section class="bg-light">

        <!-- Main title text -->
        <div class="container">
            <div class="row mt-5 mb-3">
                <div class="col-md-12">
                    <div class="float-left">
                        <h1 class="mb-0">{{event.eventName}}</h1>    
                    </div>
                </div>
            
                <div class="col-12 mt-1">
                    <div class="d-flex justify-content-center d-md-none col-12">
                        <img src={{event.eventImage}} alt="Event image" class="d-block d-sm-none rounded mb-4" width="270px">
                        <img src={{event.eventImage}} alt="Event image" class="d-none d-sm-block d-md-none rounded mb-4" width="430px" style="background-repeat: no-repeat;">
                    </div>
                    <div class="card shadow mb-4 d-block d-md-none p-1">
                        <div class="text-center"> 
                            <h3 class="mb-2 text-info my-4">{{event.eventName}}</h3>
                            <h4 class="mb-2 text-muted mb-4">{{event.eventLocation}}</h4>
                            <p class="mb-2 text-muted mb-4">{{event.eventstartTime}}, {{event.startDate}}</p>
                            <p class="card-text mt-4 px-4 pb-4 border-bottom">
                            {{event.Description}}
                            </p>
                            <div class="row">
                                <form action="" method="POST">
                                    <div class="d-inline col-6 text-center">
                                        <p class="pl-4">Ticket Price: <strong>${{event.ticketPrice}}</strong></h4>
                                        <p class="pl-4">Tickets Available: {{event.ticketsAvailable}} </h4>
                                    </div>
                                    <div class="d-inline col-6">
                                        <form action="" method="POST">
                                            {{wtf.render_form(form2)}}
                                            <button class="btn btn-outline-info rounded bg-info text-white px-4 py-2 my-5 my-sm-4 mr-2"><strong>Book Ticket</strong></button>
                                        </form>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <figure class="col-md-6">
                            <img src={{event.eventImage}} alt="Event image"
                                class="d-none d-md-inline rounded w-100 m-auto">
                            
                            
                            <div class="card-comment-column mt-4 d-block">
                                {% for comment in event.comments %}
                                <div class="d-flex flex-start mb-4">
                                    <div class="card w-100">
                                        <div class="card-body shadow border-light rounded p-4" style="background-image: url({{url_for('static', filename='image/comments-card-background.png')}}; background-size: 50px; background-repeat: no-repeat; background-position: 95% 20px;">
                                            <div class="row">
                                                <img class="rounded-circle shadow-1-strong me-3 ml-2" src="{{url_for('static', filename='image/icons/person-circle.svg')}}"
                                                    alt="avatar" width="55" height="55" />
                                                <div class="d-inline ml-4 my-auto">
                                                    <h5>{{comment.user.userName}}</h5>
                                                    <p class="small">{{comment.created_at}}</p>
                                                </div>
                                            </div>
                                            <p class="mt-3 text-center">{{comment.comment}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                               

                                <div class="d-flex flex-start mb-3">
                                    <div class="card w-100">
                                        <div class="card-body shadow border-light rounded p-4 bg-light">
                                            {{wtf.render_form(form,"/event/{0}/comment".format(event.eventid))}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </figure>
                    
                        <div class="col-6 d-none d-md-inline">
                            <div class="card shadow mb-4">
                                <div class="text-center">
                                    <h3 class="mb-2 mt-md-3 text-info mb-sm-4 mb-lg-6">{{event.eventName}}</h3>
                                    <h4 class="mb-2 text-muted mb-4">Live at the {{event.eventLocation}}</h4>
                                    <p class="mb-2 text-muted mb-4">{{event.eventstartTime}} ,{{event.eventstartDate}} to {{event.eventendTime}},{{event.eventendDate}}</p>
                                    <p class="card-text mt-4 px-4 pb-4 border-bottom">
                                        {{event.description}}
                                    </p>
                                    <div class="row">
                                        <div class="d-inline col-12 text-center">
                                            <p class="pl-4">Ticket Price: <strong>${{event.ticketPrice}}</strong></h4>
                                            <p class="pl-4">Tickets Available: {{event.ticketsAvailable}} </h4>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <form action="" method="POST">
                                            {{ form2.hidden_tag ()}}
                                            {{ (form2.ticketQuantity(class_="form-control col-10", placeholder = "How Many Tickets?", autofocus = true)) }}
                                            {{ (form2.submit(class_="btn btn-outline-info rounded bg-info text-white px-4 py-2 my-5 my-sm-4 mr-2 font-weight-bold")) }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}